* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #000;
}

.logo {
  width: 2.2rem;
  height: 2.2rem;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 1.2rem;
}

#videoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.card-img-top {
  object-fit: fill;
}

.card {
  background-color: #034;
  color: #fff;
}